.flex-container {
  margin: 0 15px;
}
.flex-container .inline {
  width: 80px!important;
  margin: 9px 9px 9px 0;
}
.flex-container .small {
  height: 20px!important;
  line-height: 20px!important;
}
.am-flexbox-item{
  text-align: center;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
}
.active-menu{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ant-layout-footer{
  padding: 10px 40px;
}
.add-people{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
}
.am-modal.am-modal-transparent{
  height: 80%;
  width: 90%;
}
.am-modal-body{
  height: 80%;
}
.am-modal-title{
  color: grey;
}

.am-list-line{
  font-size: 12px;
}
.am-card-header{
  font-size: 14px;
  padding: 0px 15px;
}
.am-card-body{
  font-size: 20px;
  padding: 25px;
}